/* generics */

body {
    font-family: sans-serif;
}


/* utilities */




/* contents */

.vs-crossedtext {
    text-decoration: line-through;
}

.vs-no-dots {
    list-style: none;
}

.vs-container {
    max-width: 700px;
    margin: 0 auto;
}

.vs-pointer {
    cursor: pointer;
}


/* effects */