<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
        integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/script.js" defer></script>
    <title>Vue ToDoList Valerio</title>
</head>

<body>
    <div id="root">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-center mt-3">To Do List</h1>
                <input type="text" v-model="newTaskText" @keyUp.enter="addTask" placeholder="Insert new task here"
                    class="w-50 mt-3 mb-4">
                <div class="text-center">
                    <button class="btn btn-primary" @click="addTask">Add task</button>
                </div>
            </div>

        </div>

        <div class="vs-container row justify-content-center mt-5">
            <div class="container">
                <h2 class="mb-3 text-center">Tasks:</h2>
                <ul class="row vs-no-dots">
                    <li v-for="(item, index) in todos" class="row justify-content-center">
                        <span class="col-1">{{ index + 1 }}</span><span class="ms-2 col-3"
                            :class="{ 'vs-crossedtext': todos[index].done == true }">{{ item.text}}</span>
                        <span class="ms-5 col-3 text-center" @click="deleteTask(index)">&cross;</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</body>

</html>

<!-- <li v-for="(item, index) in todos" :class="todos[index].done == true ? 'vs-completed' : ''"></li> -->